.card {
    transition: box-shadow 0.7s ease;
    border-radius: 17px;
}
.card:hover {
    box-shadow: 0px 2px 20px grey;
}

.cardContainer, Image{
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}