
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

h2 {
    text-align: left;
    color: #4D4A4A;
    margin-left: 1em;
    font-size: 35px;
}


.gridPageContainer {
    position: relative;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 4%;
    padding-top: 2%;
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 13px;
}

.titleContainer{
    display: flex;
    width: 100%;
}

.gridContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}