Button {
    border-radius: 15px !important;
}
Button:hover {
    background-color: grey !important;
    color: white !important;
    transition: background-color 0.6s ease !important;
}

.gradientBackground {
    background: linear-gradient(180deg, #5477D2 0%, rgba(118, 191, 196, 0.58) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteCardBackground {
    min-width: 420px;
    background: white;
    padding: 2%;
    border-radius: 15px;
    height: 50%;
    display: flex;
    align-items: center;
}

.gridFade{
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}